
body {
    /* design point bg */

    background-color: beige;
    color: black;
    font-family: Times;
    margin: 20px;
}

h1 {
    color: forestgreen;
}
/* float */

#first {
    float: right;
    width: 150px;
    height: auto;
    border-radius: 100px;
}

table, th, td {
    border: 2px solid #0F5640 ;
    padding: 5px;
}

/* nth child  got colors from uwgb web design page*/

tr:nth-child(even) {
    background-color: #0F5640 ;
}
tr:nth-child(odd) {
    background-color: #1ba72e;
}
/* hover */
a:hover {
    color: red;
}

/* psedo element */

#p1::first-letter {
    font-size: 200%;
    color: black;
}
h3 {
    display: inline;
    background-color: #0F5640 ;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 400px;
    float: right;
    
}
#p2{ 
    background-color: #0F5640 ;
    border-radius: 10px;
        padding: 5px;
}
#meow{
    padding: 5px;
    border: 5px solid black;
    margin: 5px;
   
}

#p1 {
    border-left: 5px solid #0F5640 ;
    border-radius: 10px;
    padding: 20px;
    font-size: 18px;
    color: black;
}


#ul1 {
   padding: 5px;
    border: 5px solid black;
    margin: 5px;

}
h2 {
  background-color: forestgreen;
   display: inline;
    color: white;
        border-radius: 6px;
            padding: 5px;


}
